<%= render '/layouts/nav' %>

<div style="text-align: center" class="top-img-about jumbotron">
        <div style="margin-top:200px;margin-bottom:200px;">
        <img src="/ILLUMIN4TE_512_White.png" style="max-width:430px;z-index:6;float:top;margin-top:10px;"><br>
        </div>
</div>

<div class="container">
    <center>
        <img class="raised rounded" src="/fullsizeoutput_5_RESIZE.jpg" style="width:300px;height:300px;margin-top:-200px;">
    </center>

    <div class="base-div" style="margin-top:-100px;">
        <center style="margin-top:110px;"><h style="font-size:2em;font-weight:300;padding:10px;padding-left:20px;padding-right:20px;border:1px solid #888;border-radius:5px;margin-bottom:50px;">Collin O'Rear</h>
        <p style="margin-top:30px;font-weight:400;">Founder, Owner</p>
        <p style="width:60%;margin-top:30px;">Collin is a high-schooled senior who plans to pursue a degree in Business from Boyce College in Louisville, KY. Right now, he leads the team and works closely in production of websites, mobile applications, and directing/editing films. He hopes that ILLUMIN4TE will be a springboard and inspirations for others in their creative endeavors.</p></center>
    </div>
</div>

<%= render '/layouts/footer' %>







<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103950450-1', 'auto');
  ga('send', 'pageview');

</script>