<%= render '/layouts/nav' %>

<div style="text-align: center;z-index:100;position:relative;" class="top-img jumbotron">
        <div style="margin-top:200px;margin-bottom:200px;">
        <img src="/ILLUMIN4TE_512_White.png" style="max-width:256px;z-index:101;position:relative;float:top;margin-top:10px;"><br>
        <a class="btn btn-outline" style="z-index:101;position:relative;" href="/about">ABOUT ILLUMIN4TE &nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
</div>
<div class="container" style="z-index:101;position:relative;">
    <div class = "base-div row">
        <div class="col-sm-1">
            
        </div>
        <div class = "col-sm-6">
            <h1><span><img src="https://k1040.herokuapp.com/512_Badge.png" style="height:30px;width:30px;margin-top:-8px;"/></span>&nbsp;1-2-3 Entrepreneur!</h1>
            <br>
            <p>A 10-week entrepreneurship course designed to fit into your school plan for the year or semester. The course was created by a homeschool graduate who saw the need for an affordable, high-quality entrepreneurship course that could count for school credit. It combines first-hand business experience with exclusive interviews featuring successful Christian businessmen from a handful of varying industries. This wealth of information creates a high-leverage learning program that will equip you to begin in business or grow your current business.</p>
            <a class="btn btn-outline btn-dark" href="https://www.my1040academy.com/" target="_blank" style="margin-top:40px;">VISIT &nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <div class="col-sm-1">
            
        </div>
        <div class = "col-sm-4">
            
                <img src="/iPhoneImageBase_1040.png" style="z-index:998;width:50%;margin-left:0;margin-top:200px;position:relative;">
                <img src="/MacImageBase_1040.png" style="width:100%;z-index:  997;margin-top: -550px;position:relative;">
        </div>
    </div>
    
    <!--
    <div class = "base-div row">
        <div class = "col-sm-4">
            <div>
                <img src="/MacImageBase_Parakeet2.png" style="width:100%;">
            </div>
            <div>
                <img src="/iPhoneImageBase_Parakeet2.png" style="width:50%;margin-left:200px;margin-top:-300px;">
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class = "col-sm-6">
            <h1><span><img src="https://parakeetnow.herokuapp.com/Logo2.png" style="height:30px;width:30px;margin-top:-8px;"/></span>&nbsp;Parakeet</h1>
            <br>
            <p>Parakeet is an instant messaging app used for communicating easily online with others. Create password-protected chatrooms, upload photos, and share links.</p>
            <a class="btn btn-outline btn-dark" href="http://parakeetnow.herokuapp.com" target="_blank" style="margin-top:40px;">VISIT &nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    
    <div class = "base-div row">
        <div class="col-sm-1">
            
        </div>
        <div class = "col-sm-6">
            <h1><span><img src="https://unafire.herokuapp.com/Icon80.png" style="height:30px;width:30px;margin-top:-8px;"/></span>&nbsp;Unafire&nbsp;<span><ptag>DEVELOPMENT</ptag></span></h1>
            <br>
            <p>Unafire is an online community where Christians around the world can come together and pray for one another. Join groups and interact with your church in a refreshing way.</p>
            <a class="btn btn-outline btn-dark" href="http://unafire.herokuapp.com/" target="_blank" style="margin-top:40px;">VISIT &nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <div class="col-sm-1">
            
        </div>
        <div class = "col-sm-4">
            <img src="/MacImageBase_Unafire.png" style="width:100%;">
        </div>
    </div>
    -->
    <div class = "base-div row">
        <div class = "col-sm-4">
            <div>
                <img src="/MacImageBase_FWIA.png" style="width:100%;">
            </div>
            <div>
                <img src="/iPadImageBase_FWIA.png" style="width:80%;margin-left:150px;margin-top:-300px;">
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class = "col-sm-6">
            <h1><span><img src="https://0.gravatar.com/avatar/0a1bf2619e25dc0ac06d13297ae980ee?s=96&d=https%3A%2F%2Fs0.wp.com%2Fi%2Fmu.gif&r=G" style="height:30px;width:30px;margin-top:-8px;"/></span>&nbsp;Found Who I Am</h1>
            <br>
            <p>Found Who I Am is a blog founded to encourage Christian teenagers in their sometimes challenging walk with Christ. Using life lessons and Biblical teachings, you will be encouraged each week through a set of posts.</p>
            <a class="btn btn-outline btn-dark" href="http://www.foundwhoiam.com/" target="_blank" style="margin-top:40px;">VISIT &nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    
    <div class = "base-div row">
        <div class="col-sm-2">
            
        </div>
        <div class = "col-sm-8">
            <h1><span><img src="/favicon.png" style="height:30px;width:30px;margin-top:-8px;"/></span>&nbsp;UI Kit: Timeless</h1>
            <br>
            <p>A UI Kit that seemlessly integrates a modern feel with a classic look. Works effortlessly with Bootstrap 3 or 4.</p>
            <a class="btn btn-outline btn-dark" href="https://illumin4te-timeless.herokuapp.com/" target="_blank" style="margin-top:40px;">PREVIEW &nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <div class="col-sm-2">
            
        </div>
    </div>
    
    
    
    <div class = "base-div row">
        <center>
            <h1>Have a suggestion for a website, app, or UI Kit?</h1>
        <p>Make sure to <a href="mailto:illumin4te@icloud.com?subject=[ILLUMIN4TE%20Suggestion]%20Your%20Subject%20Here">leave us a note</a> and we'll check it out!</p>
        </center>
    </div>
</div>

<%= render '/layouts/footer' %>





<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103950450-1', 'auto');
  ga('send', 'pageview');

</script>