<%= render '/layouts/nav' %>

<div style="text-align: center" class="top-img jumbotron">
        <div style="margin-top:200px;margin-bottom:200px;">
        <img src="/ILLUMIN4TE_512_White.png" style="max-width:256px;z-index:6;float:top;margin-top:10px;"><br>
        <a class="btn btn-outline" href="/about">CHECK OUT OUR STORY &nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
</div>
<div class="container">
    <div class = "base-div row">
        <div class = "col-sm-4">
            <div>
                <img src="/MacImageBase_FWIA.png" style="width:100%;">
            </div>
            <div>
                <img src="/iPadImageBase_FWIA.png" style="width:80%;margin-left:150px;margin-top:-300px;">
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class = "col-sm-6">
            <h1><span><img src="https://0.gravatar.com/avatar/0a1bf2619e25dc0ac06d13297ae980ee?s=96&d=https%3A%2F%2Fs0.wp.com%2Fi%2Fmu.gif&r=G" style="height:30px;width:30px;margin-top:-8px;"/></span>&nbsp;Found Who I Am</h1>
            <br>
            <p>Found Who I Am is a blog founded to encourage Christian teenagers in their sometimes challenging walk with Christ. Using life lessons and Biblical teachings, you will be encouraged each week through a set of posts.</p>
            <a class="btn btn-outline btn-dark" href="http://www.foundwhoiam.com/" target="_blank" style="margin-top:40px;">VISIT &nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <div class = "base-div row">
        <div class="col-sm-1">
            
        </div>
        <div class = "col-sm-6">
            <h1><span><img src="https://unafire.herokuapp.com/Icon80.png" style="height:30px;width:30px;margin-top:-8px;"/></span>&nbsp;Unafire&nbsp;<span><ptag>DEVELOPMENT</ptag></span></h1>
            <br>
            <p>Unafire is an online community where Christians around the world can come together and pray for one another. Join groups and interact with your church in a refreshing way.</p>
            <a class="btn btn-outline btn-dark" href="http://unafire.herokuapp.com/" target="_blank" style="margin-top:40px;">VISIT &nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <div class="col-sm-1">
            
        </div>
        <div class = "col-sm-4">
            <img src="/MacImageBase_Unafire.png" style="width:100%;">
        </div>
    </div>
    <div class = "base-div row">
        <center>
            <h1>Have a suggestion for a website, app, or UI Kit?</h1>
        <p>Make sure to <a href="mailto:c_orear@icloud.com?subject=[ILLUMIN4TE%20Suggestion]%20Your%20Subject%20Here">leave us a note</a> and we'll check it out!</p>
        </center>
    </div>
</div>

<%= render '/layouts/footer' %>