<nav class="navbar navbar-default">
  <div class="container-fluid container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img alt="ILLUMIN4TE" src="/favicon.png">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/about">About Us</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <b><li> &nbsp; &nbsp;WEBSITES</li></b>
            <li><a href="http://www.foundwhoiam.com/" target="_blank"><span><img src="https://0.gravatar.com/avatar/0a1bf2619e25dc0ac06d13297ae980ee?s=96&d=https%3A%2F%2Fs0.wp.com%2Fi%2Fmu.gif&r=G" style="height:30px;width:30px;"/></span> &nbsp;Found Who I Am</a></li>
            <li><a href="https://unafire.herokuapp.com" target="_blank"><span><img src="https://unafire.herokuapp.com/Icon80.png" style="height:30px;width:30px;"/></span> &nbsp;Unafire</a></li>
            <li><a href="https://parakeetnow.herokuapp.com" target="_blank"><span><img src="https://parakeetnow.herokuapp.com/logo2Small.png" style="height:30px;width:30px;"/></span> &nbsp;Parakeet</a></li>
            
            <li role="separator" class="divider"></li>
              <b><li> &nbsp; &nbsp;MOVIES</li></b>
            <li><a href="#nacho"><span><img src="http://www.free-icons-download.net/images/movie-icon-72062.png" style="height:30px;width:30px;"/></span> &nbsp;Coming Soon</a></li>
          </ul>
        </li>
      </ul>
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="mailto:c_orear@icloud.com?subject=[ILLUMIN4TE%20Inquiry]%20Your%20Subject%20Here">Contact Us</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>